.postBox {
    width: 100%;
    min-height: 200px;
    background-color: #000;
    border-radius: 20px;
    padding: 30px 15px 15px 15px;
    box-shadow: 1px 2px 4px #d1d1d1;
    text-align: justify;
    position: relative;
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
        transform: translate(0, -2px) scale(1.01);
        box-shadow: 1px 2px 4px 1px #d1d1d1;
    }
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    width: 80%;
    margin: 20px auto;
    gap: 10px;
}